<div class="modal fade" id="modalBeneficiario" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Beneficiário</h4>
            </div>
            <div class="modal-body">
                <form id="addBeneficiario">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="CPFBeneficiario">CPF:</label>
                                <input required="required" type="text" class="form-control" id="cpfBeneficiario" name="CPFBeneficiario" placeholder="Ex.: 000.011.111-00" maxlength="14">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="NomeBeneficiario">Nome:</label>
                                <input required="required" type="text" class="form-control" id="nomeBeneficiario" name="NomeBeneficiario" placeholder="Ex.: Maria" maxlength="30">
                            </div>
                        </div>
                        <div class="col-md-4" style="display: flex; align-items: center; margin-top: 25px;">
                            <button type="button" class="btn btn-sm btn-success" id="incluirBeneficiario">Incluir</button>
                        </div>
                    </div>
                </form>
                <table class="table table-striped">
                    <thead>
                        <tr style="max-width: auto">
                            <th class="col-md-4">CPF</th>
                            <th class="col-md-4">Nome</th>
                            <th class="col-md-4" style="width: auto;">Ações</th>
                        </tr>
                    </thead>
                    <tbody id="listaBeneficiarios"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>